{% extends 'clases/index.html'%} {%block content%} {%block title%}{%endblock
%}{%block other_content %} Listado clases{% endblock %}{%for clase in clase_list%}
<div class="row shadow-lg py-5 my-3 clase">
  <div class="col-12">
    <p>{{clase.tipo_clase}}</p>
    <p>{{clase.cupos_disponibles}}</p>
    <a class="btn btn-success" href="{%url 'detalle_clase' clase.pk %}"
      >Detalle clase
    </a>
    {%if request.user.is_staff and request.is_superuser%}
    <a class="btn btn-warning" href="{% url 'editar_clase' clase.pk %}">
      Editar clase
    </a>
    <a class="btn btn-danger" href="{% url 'eliminar_clase' clase.pk %}">
      Eliminar clase
    </a>
    {%endif%}
  </div>
</div>

{%endfor%} {%endblock%}
