{% extends 'tienda/base.html'%}{%block title%}Comprar producto{%endblock %}
{%block other_content %}Producto {{producto.nombre}}{% endblock %} {%block content%}
<div class="col-4 thumbnail">
  {%if producto.imagen%}
  <img
    src="{{ producto.imagen.url}}"
    alt="{{
        producto.nombre
        }}"
    class="img-fluid d-flex justify-content-end"
  />
  {%endif%}
</div>
<div class="col-8 caption">
  <h3>{{producto.nombre}}</h3>
  <h3>{{producto.modelo}}</h3>
  <form action="{% url 'comprar_producto' producto.pk %}" method="post">
    {% csrf_token %} {{form.as_p}}
    <input type="submit" value="Comprar" class="btn btn-primary" />
    <a href="{% url 'lista_tienda' %}" class="btn btn-danger">Cancelar</a>
  </form>
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
</div>
{%endblock %}
